#right-sidebar{
  height: calc(100vh - 91px);
  border-left: 1px solid #e6e6e6;
  transition: width 200ms ease-in;
  overflow: scroll;
  position: relative;

  .tag-title{
    font-weight: bold;
    margin: 10px 0 10px 25px;
    font-size: 18px;
  }

  > div{
    grid-row: 1;
  }

  ul{
    list-style: none;
    padding: 0 25px;
    margin: 0;
  }

  .chart-wrap {
    position: relative;
    margin: 0 0 5px;
    p{
      position: absolute;
      top: 5px;
      left: 5px;
      color: white;
      font-weight: bold;
    }
    .chart-background{
      width: 250px;
      height: 30px;
      background-color: rgba(111,144,248,0.7);
      border-radius: 10px;

      .chart-inner{
        height: 30px;
        background-color: #6F90F8;
        border-radius: 10px;
        top: 0;
        left: 0;
      }
    }
  }
}

.right-sidebar-on{
  width: 300px;
}

.right-sidebar-off{
  * {
    display: none;
  }

  width: 0;
}

@media (max-width: 480px) {
  #right-sidebar{
    display: none;
  }
}
