#bottom-status{
  height: 30px;
  min-height: 30px;
  color: #808080;
  width: 100%;
  box-sizing: border-box;
  border-top: 1px solid #e6e6e6;
  padding: 0 10px;
  display: flex;
  gap: 10px;
  > div {
    display: flex;
    * {
      margin: auto 0;
    }
    .check-icon {
      fill: green;
    }
    .edit-icon {
      fill: grey;
    }
  }
}

@media (max-width: 480px) {
  #bottom-status{
    justify-content: right;
  }
}