#app-bar{
  width: 100vw;
  height: 60px;
  border-bottom: #e6e6e6 solid 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
  font-size: 20px;
  font-weight: bold;
}

.app-bar-wrap{
  display: flex;
  justify-content: space-between;
}

.icons{
  fill: #808080;
  cursor: pointer;
}

@media (max-width: 480px) {
  .sidebar-button{
    display: none;
  }
}